<%- include("partials/header.ejs") %>
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary static">
    <div class="col-lg-12 px-0">
    <p><b>CATEGORY:</b> DESIGN</p>
      <h1 class="display-8 fst-italic">Japan's Riken Yamamoto wins 2024 Pritzker Architecture Prize</h1>
      <div class="lead my-3"><img src="images/design1.webp" alt="image_of_a_person" class="img1"></div>
      <p class="lead mb-0"><a href="thirdStatic.html" class="text-body-emphasis fw-bold linker">Continue reading...</a></p>
    </div>
  </div>


  <% const allPosts = [] %>
  <% Object.keys(categories).forEach(category => {%>
      <% categories[category].forEach(post =>{ %>
          <% allPosts.push({...post}) %>
     <% }) %>
  <%}) %>
  
   <% allPosts.sort((a, b) => new Date(b.date) - new Date(a.date)); %>
  
   <div class="post-grid">
   <% allPosts.forEach((post, index) => {%>
      <div class="postPreview" data-divIndex = "<%= index + 1 %>">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis"><%= post.category %></strong>
                <h3 class="mb-0"><%= post.heading %></h3>
                <div class="mb-1 text-body-secondary"><%= post.date %></div>
                <p class="mb-auto"> <%= post.postInformant %> </p>
                <a  href="/displayContinue?id=<%= index + 1%>" class="icon-link gap-1 icon-link-hover stretched-link"> Continue reading </a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="data:<%= post.mime%>; base64, <%= post.image %>" alt="uploaded image for <%=post.category%>"
                  class="bd-placeholder-img" width="200" height="250" 
                  aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">         
              </div>  
            </div>
          </div>
      
  <%})%>
   </div>
  
  
  
  
  
  <script>
      document.addEventListener('DOMContentLoaded', function (){
          const postDiv = document.querySelectorAll('.postPreview');
          
          postDiv.forEach(post =>{
              const divIndex = post.getAttribute('data-divIndex');
  
              if(divIndex > 0){
                  post.style.display = "block";
              }else{
                  post.style.display = "none";
              }
          })
          const homePage = document.querySelector(".homePageButton");
          homePage.style.display = "block";
      })
  </script>
  
  <%- include("partials/footer.ejs") %>